<!DOCTYPE html>
<html>
<head>
	<title>this a form</title>
</head>
<body bgcolor="black">
	<font face="Courier New" color="blue">
		<h1>Fill in the shit or you dead</h1>
		<form method="POST" enctype="multipart/form-data">
			<label>you name:</label>
			<input type="text" name="name">
			<br>

			<label>you like trump:</label>
			<input type="text" name="trump">
			<br>

			<label>you photo:</label>
			<input type="file" name="image" alt="upload">
			<br>

			<button  type="submit" ></button>
		</form>
	</font>

</body>
</html>